<div class="flex gap-x-4">
  <%= form_with(url: path, method: :get, data: { controller: "form", turbo_frame: "select-faculties" }, class: "flex flex-col w-1/2") do |f| %>
    <%= f.label(:name, "University") %>
    <%= f.collection_select(:university_id, @universities, :id, :name, { include_blank: "大学を選択してください", selected: @university&.id }, { class: "w-full input input-bordered input-secondary", data: { action: "change->form#submit" }}) %>
  <% end %>

  <%= turbo_frame_tag "select-faculties", class: "flex flex-col w-1/2" do %>
    <%= label(:faculty, :name, "Faculty") %>
    <%= collection_select(name, :faculty_id, @university ? @university.faculties : [], :id, :name, { include_blank: "学部を選択してください", selected: default_faculty_id }, { class: "w-full input input-bordered input-secondary", form: "content-form", required: true }) %>
  <% end %>
</div>
