  <section class="max-w-xl mx-auto">
    <h1 class="font-bold py-2 text-2xl"><%= title %></h1>
    <div class="flex flex-col gap-4">
      <%= render "components/select_faculty", path: new_research_path, name: "research", default_faculty_id: @research&.faculty&.id %>
      <%= form_with(model: research, class: "flex flex-col gap-y-4", id: "content-form") do |form| %>
        <div>
          <%= form.label :title, style: "display: block" %>
          <%= form.text_field :title, class: "input input-bordered input-secondary w-full" %>
        </div>
        <div>
          <%= form.label :body, style: "display: block" %>
          <%= form.text_area :body, class: "input input-bordered input-secondary w-full h-96" %>
        </div>
        <div class="flex">
          <%= form.submit "登録する", class: "btn btn-primary btn-sm text-white ml-auto" %>
        </div>
      <% end %>
    </div>
  </section>
