<div id="<%= dom_id research %>">
  <p>
    <strong>Title:</strong>
    <%= research.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= research.body %>
  </p>

  <p>
    <strong>Professor:</strong>
    <%= research.professor_id %>
  </p>

  <p>
    <strong>Faculty:</strong>
    <%= research.faculty_id %>
  </p>

</div>
