<div id="<%= dom_id recruitment %>">
  <p>
    <strong>Title:</strong>
    <%= recruitment.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= recruitment.body %>
  </p>

  <p>
    <strong>Professor:</strong>
    <%= recruitment.professor_id %>
  </p>

  <p>
    <strong>Faculty:</strong>
    <%= recruitment.faculty_id %>
  </p>

</div>
